version: '3.0'
services:
  PHPmagento:
    build: 
      context: .
    container_name: my-magento
    image: pjurk/magento2-app-test
    links:
      - db
      - mailhog
      #- chrome
    ports:
      - "80:80"
    volumes:  
    - magento-app:/var/www/html
    #- magento-tests:/app/dev/tests/acceptance/tests/_output/allure-results
    env_file:
      - env
  db:
    image: mysql:5.7
    volumes:
      - ./db:/var/lib/mysql
    env_file:
      - env
    command: --innodb_use_native_aio=0
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8580:80"
    links:
      - db  
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025"
      - "8025:8025"
  #chrome:
  #  image: selenium/standalone-chrome:3.141.59
  #  container_name: chrome
  #  ports:
  #    - "5900:5900"
  #  volumes:
  #    - /dev/shm:/dev/shm
  #allure:
  #  image: frankescobar/allure-docker-service
  #  container_name: magento_allure
  #  environment:
  #    CHECK_RESULTS_EVERY_SECONDS: 1
  #    KEEP_HISTORY: "TRUE"
  #  ports:
  #    - "4040:4040"
  #    - "5050:5050"
  #  volumes:
  #    - magento-tests:/app/allure-results

volumes: 
  magento-app:
  #magento-tests:
